<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shotchart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    
    <permission
        android:name="com.example.shotchart.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="com.parse.anywall.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following permission is not required to use
     Google Maps Android API v2, but is recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
        <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.GET_ACCOUNTS" />
<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	
       <!--
  IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
  to match your app's package name + ".permission.C2D_MESSAGE".
-->
<permission android:protectionLevel="signature"
    android:name="com.example.shotchart.permission.C2D_MESSAGE" />
<uses-permission android:name="com.example.shotchart.permission.C2D_MESSAGE" /> 
    <application
        android:name="activities.HuntApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        
        <activity
            android:name="activities.HuntActivity"
            android:label="@string/app_name" >
 

        </activity>
        <activity
            android:name="activities.MainMenu"
            android:label="@string/app_name" >

        </activity>
        
        <activity
            android:name="activities.SettingsActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name="activities.RefMainMenu"
            android:label="@string/app_name" >
          <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="activities.GPS"
            android:label="@string/app_name" >
 
        </activity>
                <activity
            android:name="activities.Ziggeo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.VerifyImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="fragments.VerifyText"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="fragments.VerifyImage"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCdFPFoQDERxqsoe94BgSXQ5VRho-MnrkM" />
        
        <meta-data android:name="com.google.android.gms.version" 
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="activities.SignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="activities.SignUpOrLogInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo" >
         
 

        </activity>
        
        <service android:name="com.parse.PushService" />
<receiver android:name="com.parse.ParseBroadcastReceiver">
  <intent-filter>
    <action android:name="android.intent.action.BOOT_COMPLETED" />
    <action android:name="android.intent.action.USER_PRESENT" />
  </intent-filter>
</receiver>
<receiver android:name="com.parse.GcmBroadcastReceiver"
    android:permission="com.google.android.c2dm.permission.SEND">
  <intent-filter>
    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
 
    <!--
      IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
    -->
    <category android:name="com.example.shotchart" />
  </intent-filter>
</receiver>
    </application>

</manifest>
